.header {
    background-color: #8191c2;
    height: 120px;
}
.section-1 {
    background-color: #9e6767;
    height: 950px;
}
.section-2 {
    background-color: #91c7b5;
}
.cards {
    display: flex;
    justify-content: center;
}
.card-1 {
    width: 300px;
    margin: 20px 5px;
    background-color: #cfbe9d;
    height: 400px;
}
.card-2 {
    width: 300px;
    margin: 20px 5px;
    background-color: #cfbe9d;
    height: 400px;
}
.card-3 {
    width: 300px;
    margin: 20px 5px;
    background-color: #cfbe9d;
    height: 400px;
}
.footer {
    height: 120px;
    background-color: #8d658d;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-1 {
        height: 800px;
    }
    .cards {
        display: flex;
        justify-content: start;
    }
    .card-1 {
        width: 200px;
        margin: 20px 5px;
        height: 200px;
    }
    .card-2 {
        width: 200px;
        margin: 20px 5px;
        height: 200px;
    }
    .card-3 {
        width: 200px;
        margin: 20px 5px;
        height: 200px;
    }
}

/*PHONE */
@media screen and (max-width: 767.98px) {
    .header {
        height: 100px;
    }
    .section-1 {
        background-color: #9e6767;
        height: 100px;
    }
    .section-2 {
        height: 700px;
    }
    .card-1 {
        width: 300px;
        margin: 20px 5px;
        height: 130px;
    }
    .card-2 {
        width: 300px;
        margin: 20px 5px;
        height: 130px;
    }
    .card-3 {
        width: 300px;
        margin: 20px 5px;
        height: 130px;
    }
}